body {
    min-width:300px;
    min-height:100px;
    font-family: 'Sansita', sans-serif;
}

#title {
    text-align: center;
    color: #ff0000;
}

.startTime {
    width: 30px;
}

#info {
    margin: 1em 0;
    font-size: 1.5em;
}

#toggle-button {
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    font-family: 'Sansita', sans-serif;
    background: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    color: white;
}

#toggle-button:hover {
    color: #ff0000;
    background: white;
}

.text-centered {
    text-align: center;
}

.hori-divider {
    border-top: 1px solid #8c8b8b;
}

/*.button-container {
    text-align: center;
    height: 2em;
    margin: auto;
    margin-top: 1em;
    border: 2px solid #ff0000;
    border-radius: 5px;
}*/